/* Cause all elements to be sized relative to their border box */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Elements with class 'width-wrap' set to max width of 960 px, centered, padded & bordered */
.width-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: #cee4ee;
}

/* Styling for horizontal rule in footer */
footer hr {
    width: 50%;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted #1e2958;
}

/* Add colons to terms in a definition list */
dl dt::after {
    content: ":";
}

/* sets background colour */
body {
    background-color: #581e46;
}

/* sets new default colours for text, headings and hyperlinks */
p,
h1,
h2,
h3 {
    color: #3b3b3b;
}

a {
    color: #1e2958;
}

header nav a {
    color: #46581e;
}

::selection {
    background-color: #84bbd4
}